<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lottery Service</title>
    <!--/*/ <th:block th:include="header.html :: headerFiles">
        </th:block> /*/-->
</head>
<body>
    <div th:replace="header :: navbar"></div>
    <div th:if="${(param.success_message != null)}">
        <div th:replace="message :: success"></div>
    </div>
    <div th:if="${(param.error_message != null)}">
        <div th:replace="message :: error"></div>
    </div>
</body>
</html>