<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lottery Service - lotteries</title>
    <!--/*/ <th:block th:include="header.html :: headerFiles">
        </th:block> /*/-->
</head>
<body>
<div th:replace="header :: navbar"></div>
<div th:fragment="content" class="container">
    <div class="row">
        <div class="col">
            <!--/*@thymesVar id="error_message" type="java.lang.String"*/-->
            <!--/*@thymesVar id="success_message" type="java.lang.String"*/-->
            <div th:if="${param.success_message}" th:text="${param.success_message}" class="alert alert-success" role="alert"></div>
            <div th:if="${param.error_message}" th:text="${param.error_message}" class="alert alert-danger" role="alert"></div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Limit</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">Completed</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lottery: ${lotteries}">
                    <td th:text="${lottery.id}"></td>
                    <td th:text="${lottery.title}"></td>
                    <td th:text="${lottery.limit}"></td>
                    <td th:text="${lottery.startDate}"></td>
                    <td th:text="${lottery.endDate}"></td>
                    <td th:text="${lottery.completed}"></td>
                    <td><a th:href="@{/admin/lottery/{id}(id=${lottery.id})}">Change status</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>