<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register in a lottery</title>
    <!--/*/ <th:block th:include="header.html :: headerFiles">
        </th:block> /*/-->
</head>
<body>
<div th:replace="header :: navbar"></div>
<div th:fragment="content" class="container">
    <div class="row">
        <div class="col">
            <div th:if="${error_message}" th:text="${error_message}" class="alert alert-danger" role="alert">
            </div>
            <form action="#"
                  th:action="@{/public/register}"
                  th:object="${participantRegisterDto}"
                  method="post">
                <div class="form-group">
                    <div th:if="${#fields.hasErrors('lotteryId')}" th:errors="*{lotteryId}" class="alert alert-danger"
                         role="alert">
                    </div>
                    <label for="inputLotteryId">Lottery id</label>
                    <input name="lotteryId" th:value="*{lotteryId}" type="number" class="form-control"
                           id="inputLotteryId" aria-describedby="emailHelp" placeholder="Lottery id">
                </div>
                <div class="form-group">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"
                         role="alert">
                    </div>
                    <label for="inputEmail">Email address</label>
                    <input name="email" th:value="*{email}" type="email" class="form-control"
                           id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger" role="alert">
                    </div>
                    <label for="inputAge">Age</label>
                    <input name="age" th:value="*{age}" type="number" class="form-control" id="inputAge"
                           aria-describedby="emailHelp" placeholder="Age">
                </div>
                <div class="form-group">
                    <div th:if="${#fields.hasErrors('code')}" th:errors="*{code}" class="alert alert-danger"
                         role="alert">
                    </div>
                    <label for="inputCode">Unique Code</label>
                    <input name="code" th:value="*{code}" type="text" class="form-control"
                           id="inputCode"
                           placeholder="Code">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>